---
layout: page
title: UNT's Cyber Security Club
subtitle: Attempting to jam with the console cowboys in cyberspace
use-site-title: true
images:
  - image_path: /img/clubmeetings2017/0001.JPG
    title: First Club Meeting of the Semester
  - image_path: /img/issa/issaFeb_16_2017.jpg
    title: ISSA February Meeting
---
<ul class="photo-gallery">
  {% for image in page.images %}
  <li style="list-style-type:none">
    <center>
      <a href="{{image.link}}">
        <img src="{{ image.image_path }}" alt="{{ image.title }}" align ="middle">
      </a>
      {{image.title}}
    </center>
  </li>
  {% endfor %}
</ul>
