---
layout: page
title: Events
subtitle: Come join us for some cyber security fun!
use-site-title: false
---
<div>Normal club meetings are from 5:30 - 6:30 P.M. on Thursdays at Discovery Park, either in B185 or F223.</div>

<div><a href="https://calendar.google.com/calendar/embed?src=untccsi%40gmail.com&ctz=America/Chicago">Link to Google Calendar</a></div>
<center>
  <div><h1>Upcomming Events:</h1></div>
  {% for events in site.events %}
  <div class="events">
    <h2><a href="{{ events.url}}">{{ events.title}}</a></h2>
  </div>
  {% endfor %}
  <div><h1>Past Events:</h1></div>
  {% for events in site.pastevents reversed %}
  <div class="events">
    <h2><a href="{{ events.url}}">{{ events.title}}</a></h2>
  </div>
  {% endfor %}
</center>
